<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onClose()">
    <mat-icon>home</mat-icon>
    <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/registry" (click)="onClose()">
    <mat-icon>list</mat-icon>
    <span class="nav-caption">Registry</span>
  </a>
  <a mat-list-item routerLink="/sts29" (click)="onClose()">
    <mat-icon>edit</mat-icon>
    <span class="nav-caption">STS 2.9</span>
  </a>
  <a mat-list-item routerLink="/tavr21" (click)="onClose()">
    <mat-icon>description</mat-icon>
    <span class="nav-caption">TAVR 2.1</span>
  </a>
  <a mat-list-item routerLink="/about" (click)="onClose()">
    <mat-icon>information</mat-icon>
    <span class="nav-caption">About</span>
  </a>
</mat-nav-list>
