.item {
  margin: 5px;
}

.item-1 {
  margin: 5px 5px 5px 25px;
}

.item-2 {
  margin: 5px 5px 5px 45px;
}

.radio-group {
  padding: 0px 5px;
}

.dropdown {
  width: 300px;
}

.accordian {
  margin: 5px;
}
