<mat-button-toggle (click)="allExpandState = !allExpandState">{{
  allExpandState ? 'Collapse All' : 'Expand All'
}}</mat-button-toggle>

<!-- <a id="facebook_ads_example">This is the Facebook ad example I want to link to.</a> -->

<mat-accordion multi="true" class="my-headers-align">
  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        A. Administrative
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>This is the primary content of the panel.</p>

    <mat-action-row>
      <button mat-button>Click me</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        B. Demographics
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        C. Hospitalization
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        D. Risk Factors
      </mat-panel-title>
      <mat-panel-description>
        {{ formErrors('D') }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]="formGroupD" #formDirectiveD="ngForm">
      <div fxLayout="column" fxLayout.gt-xs="row">
        <mat-form-field class="item">
          <input
            type="number"
            matInput
            placeholder="Height (cm)"
            formControlName="HeightCM"
            required
          />
          <mat-hint>
            <a>Please enter a valid input.</a>
            <mat-icon style="cursor: help;" (click)="clickInfo()">info_outline</mat-icon>
          </mat-hint>
          <mat-error *ngFor="let validation of getValidations('HeightCM')">
            <mat-error *ngIf="isInvalid('HeightCM', validation.type)">
              <a>{{ validation.message }}</a>
              <mat-icon style="cursor: help;" (click)="clickInfo()">info_outline</mat-icon>
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="item">
          <input
            type="number"
            matInput
            placeholder="Weight (kg)"
            formControlName="WeightKg"
            required
          />
          <mat-hint>
            <a>Please enter a valid input.</a>
            <mat-icon style="cursor: help;" (click)="clickInfo()">info_outline</mat-icon>
          </mat-hint>
          <mat-error *ngFor="let validation of getValidations('WeightKg')">
            <mat-error *ngIf="isInvalid('WeightKg', validation.type)">
              <a>{{ validation.message }}</a>
              <mat-icon style="cursor: help;" (click)="clickInfo()">info_outline</mat-icon>
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field class="item" style="width: 250px" fxLayout="column">
        <mat-label>Family History of Premature Coronary Artery Disease</mat-label>
        <mat-select formControlName="FHCAD" required>
          <mat-option value="1">Yes</mat-option>
          <mat-option value="2">No</mat-option>
          <mat-option value="3">Unknown</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="item">
        <mat-label>Diabetes</mat-label>
        <mat-select formControlName="Diabetes" required>
          <mat-option value="1">Yes</mat-option>
          <mat-option value="2">No</mat-option>
          <mat-option value="3">Unknown</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="item-1" *ngIf="isShowControl('D', 'DiabCtrl')">
        <mat-label>Diabetes-Control</mat-label>
        <mat-select formControlName="DiabCtrl" required>
          <mat-option value="1">None</mat-option>
          <mat-option value="2">Diet only</mat-option>
          <mat-option value="3">Oral</mat-option>
          <mat-option value="4">Insulin</mat-option>
          <mat-option value="5">Other SubQ</mat-option>
          <mat-option value="6">Other</mat-option>
          <mat-option value="7">Unknown</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="item">
        <mat-label>Dyslipidemia</mat-label>
        <mat-select formControlName="Dyslip" required>
          <mat-option value="1">Yes</mat-option>
          <mat-option value="2">No</mat-option>
          <mat-option value="3">Unknown</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="item">
        <mat-label>Dialysis</mat-label>
        <mat-select formControlName="Dialysis" required>
          <mat-option value="1">Yes</mat-option>
          <mat-option value="2">No</mat-option>
          <mat-option value="3">Unknown</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="item">
        <mat-label>Hypertension</mat-label>
        <mat-select formControlName="Hypertn" required>
          <mat-option value="1">Yes</mat-option>
          <mat-option value="2">No</mat-option>
          <mat-option value="3">Unknown</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="item">
        <mat-label>Endocarditis</mat-label>
        <mat-select formControlName="InfEndo" required>
          <mat-option value="1">Yes</mat-option>
          <mat-option value="2">No</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="item-1" *ngIf="isShowControl('D', 'InfEndTy')">
        <mat-label>Endocarditis Type</mat-label>
        <mat-select formControlName="InfEndTy" required>
          <mat-option value="1">Treated</mat-option>
          <mat-option value="2">Active</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="item-1" *ngIf="isShowControl('D', 'InfEndCult')">
        <mat-label>Endocarditis Culture</mat-label>
        <mat-select formControlName="InfEndCult" required>
          <mat-option value="1">Culture negative</mat-option>
          <mat-option value="3">Strep species</mat-option>
          <mat-option value="11">MRSA</mat-option>
          <mat-option value="12">MSSA</mat-option>
          <mat-option value="4">Coagulase negative staph</mat-option>
          <mat-option value="5">Enterococcus species</mat-option>
          <mat-option value="9">Gram negative species</mat-option>
          <mat-option value="10">Polymicrobial</mat-option>
          <mat-option value="13">Mycobacterium (chimera)</mat-option>
          <mat-option value="6">Fungal</mat-option>
          <mat-option value="7">Other</mat-option>
          <mat-option value="8">Unknown</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="item" style="width: 400px">
        <mat-label>Tobacco use</mat-label>
        <mat-select formControlName="TobaccoUse" required>
          <mat-option value="1">Never smoker</mat-option>
          <mat-option value="2">Current every day smoker</mat-option>
          <mat-option value="3">Current some day smoker</mat-option>
          <mat-option value="4">Smoker, current status (frequency) unknown</mat-option>
          <mat-option value="5">Former smoker</mat-option>
          <mat-option value="6">Smoking status unknown</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        E. Previous Cardiac Interventions
      </mat-panel-title>
      <mat-panel-description>
        {{ formErrors('E') }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]="formGroupE" #formDirectiveE="ngForm">
      <mat-form-field class="item" style="width: 250px" fxLayout="column">
        <mat-label>Previous Cardiac Interventions</mat-label>
        <mat-select formControlName="PrCVInt" required>
          <mat-option value="1">Yes</mat-option>
          <mat-option value="2">No</mat-option>
          <mat-option value="3">Unknown</mat-option>
        </mat-select>
        <mat-error *ngFor="let validation of getValidations('PrCVInt')">
          <mat-error *ngIf="isInvalid('PrCVInt', validation.type)">
            <a>{{ validation.message }}</a>
            <mat-icon style="cursor: help;" (click)="clickInfo()">info_outline</mat-icon>
          </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="item-1"
        style="width: 250px"
        fxLayout="column"
        *ngIf="isShowControl('E', 'PrCAB')"
      >
        <mat-label>Previous coronary artery bypass</mat-label>
        <mat-select formControlName="PrCAB" required>
          <mat-option value="1">Yes</mat-option>
          <mat-option value="2">No</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        class="item-1"
        style="width: 250px"
        fxLayout="column"
        *ngIf="isShowControl('E', 'PrValve')"
      >
        <mat-label>Previous valve procedure</mat-label>
        <mat-select formControlName="PrValve" required>
          <mat-option value="1">Yes</mat-option>
          <mat-option value="2">No</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        F. Preoperative Cardiac Status
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        G. Preoperative Medication
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        H. Hemodynamics/Cath/Echo
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        I. Operative
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        J. Coronary Bypass
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        K. Valve Surgery
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        L. Mechanical Cardiac Assist Devices
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        L.2 Ventricular Assist Devices
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        M. Other Cardiac Procedures
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        M.1. Atrial Fibrillation Procedures
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        M.2. Aorta And Aortic Root Procedures
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        M.3. Congenital Defect Repair (other than ASD, VSD or Bicuspid valve)
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        N. Other Non-Cardiac Procedures
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        O. Post-Operative
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        P. Postoperative Events
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Q. Discharge / Mortality
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel class="accordian" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        R. Readmission
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>

<br />
<br />
<button mat-raised-button class="item" color="primary" (click)="submit()">Submit</button>
<button mat-raised-button class="item" color="warn" (click)="clear()">Clear</button>
<button mat-raised-button class="item" color="warn" (click)="clearErrors()">Clear Errors</button>
<button mat-raised-button class="item" color="accent" (click)="load()">Load</button>
<br />

<div class="label-text">FormD value: {{ formGroupD.value | json }}</div>
<div class="label-text">FormE value: {{ formGroupE.value | json }}</div>
<div class="label-text">Result value: {{ result | json }}</div>
<div class="label-text">Flat Result value: {{ flatResult | json }}</div>

<div class="label-text">FormD status: {{ formGroupD.status }}</div>

<a href="sts29#facebook_ads_example"
  >Click here to see an example of how a company uses Facebook ads.</a
>
